@{
    ViewBag.Title = "Acerca do e-Recarga";
}



<h1 class="tituloSobre">@ViewBag.Title</h1>

<div>
    <p>
        Um dos fatores limitativos da mobilidade elétrica é a disponibilidade de “estações de postos”
        para o carregamento das baterias. Para facilitar a utilização das diferentes redes de “estações de postos”
        foi criada a e-Recarga.
    </p>

    <p>
        Esta aplicação web permite aos utilizadores dos postos de carregamento das baterias saber a localização das “estações de
        postos” existentes e efetuar uma marcação para um carregamento através de uma aplicação web.
    </p>

    <p>
        Empresa criada em 2019, pelos alunos de Engenharia Informática do ISEC - Instituto Superior de Engenharia de Coimbra.
    </p>
</div>