@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bem vindo ao eRecarga</h1>
    <p class="lead">Sistema de reservas de trotinetes no âmbito da disciplina de PWEB</p>
</div>

<div id="container">
    <div id="box-1" class="box">
        <img src="/Content/themes/base/images/andar.jpg" alt="" width="380px" height="300px" />
    </div>
    <div id="box-2" class="box">
        <img src="/Content/themes/base/images/trotis.png" alt="" width="380px" height="300px" />
    </div>
    <div id="box-3" class="box">
    <img src="/Content/themes/base/images/andar2.jpeg" alt="" width="380px" height="300px" />
    </div>
</div>